# Environment variables
.env

# The __pycache__ folder
__pycache__/

# Local bat
PyBOT.bat

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Heroku Deploy Tutorial
Heroku_Deploy.txt

# guild_config.json - DEBUG only
guild_config.json